.header {
  width: 100%;
  background: #fff;
  padding-left: 0.175rem;
  padding-right: 0.175rem;
  height: 2.875rem;
}
.logo {
  width: 18%;
  margin-right: 1rem;
  img {
    width: 100%;
  }
}
.search {
  width: 40%;
  font-size: 12px;
}
.weixin {
  font: 12px "Microsoft YaHei",Tahoma,Helvetica,Arial,simsun;
  color: #666;
}
.goodsInfo {
  width: 30%;
  margin-left: 1rem;
  img { width: 100%;}
}
.nav {
  height: 0.9rem;
  line-height: 0.9rem;
  background-color: #09c762;
  color: #222;
}
