.header .ant-btn-primary{
    background-color: #09c762;
    border-color: #09c762;
}

.header .ant-btn-primary:focus,
.header .ant-btn-primary:hover {
    opacity: 0.8;
    background-color: #09c762;
    border-color: #09c762;
}

.header .ant-input:focus, .ant-input:hover,
.header .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #09c762;
}
.container {
    background-color: #f0f2f5;
    width: 100%;
    margin: 0 auto;
}


.home_md .ant-card-bordered {
    border: 0;
}
